* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Arial;
	font-weight: bold;
	color: #3c3d3e;
	font-size: 40px;
}

#game {
	min-width: 700px;
	margin: 0px auto;
}

#game-field {
	border-collapse: collapse;
	margin: 0px auto;
	border: 10px solid #bbada0;
	border-radius: 10px;
}

.cell {
	width: 100px;
	height: 100px;
	background: #cdc1b4;
	border: 10px solid #bbada0;
	text-align: center;
}

#score, #msg{
	text-align: center;
	margin: 20px 0px;
}

#panel {
	margin: 0px auto;
	width: 800px;
}

#panel tr td {
	width: 400px;
}

#msg {
	display: none;
}

#best-score-info, #score-info, #msg-info {
	background: orange;
	padding: 10px;
	border-radius: 5px;
	color: #000000;
}